In [24]:
import pandas as pd
df1 = pd.read_excel('DataForTable2.1.xls')
df2 = pd.read_excel('Appendix_2_Data_for_Figure_2.1.xls')
df3 = pd.read_excel('GDP.MKTP.CD_DS2_en_excel_v2_4701247.xls',sheet_name="Data",header=3)
df4 = pd.read_excel('GDP per capita + inflation.xlsx')
df5 = pd.read_excel('happiness index.xlsx')

In [25]:
# pip install --upgrade xlrd
df1

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government
0,Afghanistan,2008,3.723590,7.302574,0.450662,50.500000,0.718114,0.173169,0.881686,0.414297,0.258195,0.612072
1,Afghanistan,2009,4.401778,7.472446,0.552308,50.799999,0.678896,0.195469,0.850035,0.481421,0.237092,0.611545
2,Afghanistan,2010,4.758381,7.579183,0.539075,51.099998,0.600127,0.125859,0.706766,0.516907,0.275324,0.299357
3,Afghanistan,2011,3.831719,7.552006,0.521104,51.400002,0.495901,0.167723,0.731109,0.479835,0.267175,0.307386
4,Afghanistan,2012,3.782938,7.637953,0.520637,51.700001,0.530935,0.241247,0.775620,0.613513,0.267919,0.435440
...,...,...,...,...,...,...,...,...,...,...,...,...
2084,Zimbabwe,2017,3.638300,8.241609,0.754147,52.150002,0.752826,-0.113937,0.751208,0.733641,0.224051,0.682647
2085,Zimbabwe,2018,3.616480,8.274620,0.775388,52.625000,0.762675,-0.084747,0.844209,0.657524,0.211726,0.550508
2086,Zimbabwe,2019,2.693523,8.196998,0.759162,53.099998,0.631908,-0.081540,0.830652,0.658434,0.235354,0.456455
2087,Zimbabwe,2020,3.159802,8.117733,0.717243,53.575001,0.643303,-0.029376,0.788523,0.660658,0.345736,0.577302
2088,Zimbabwe,2021,3.154578,8.153248,0.685151,54.049999,0.667636,-0.109439,0.756945,0.609917,0.241682,0.665703

In [26]:
df2

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,7.8210,7.886425,7.755575,2.518052,1.891628,1.258108,0.775206,0.735590,0.108733,0.533658
1,2,Denmark,7.6362,7.709897,7.562503,2.225632,1.952595,1.242681,0.776644,0.718918,0.187626,0.532079
2,3,Iceland,7.5575,7.651076,7.463924,2.320185,1.935726,1.319914,0.802622,0.718194,0.269616,0.191204
3,4,Switzerland,7.5116,7.586394,7.436806,2.152746,2.025970,1.226074,0.822048,0.676947,0.146822,0.461004
4,5,Netherlands,7.4149,7.471265,7.358534,2.136937,1.944578,1.205848,0.786738,0.650682,0.271076,0.419083
...,...,...,...,...,...,...,...,...,...,...,...,...
142,143,Rwanda*,3.2682,3.462218,3.074182,0.536299,0.785252,0.132698,0.461527,0.621479,0.186662,0.544236
143,144,Zimbabwe,2.9951,3.109822,2.880378,0.547529,0.946604,0.690460,0.270086,0.329203,0.106265,0.104943
144,145,Lebanon,2.9553,3.048951,2.861649,0.215537,1.392068,0.497999,0.630964,0.102799,0.082191,0.033761
145,146,Afghanistan,2.4038,2.468731,2.338869,1.263403,0.757994,0.000000,0.288626,0.000000,0.088873,0.004882
146,147,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df3

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,...,9.730435e+11,9.839370e+11,1.003679e+12,9.242525e+11,8.823551e+11,1.020647e+12,9.910223e+11,9.975340e+11,9.216459e+11,1.082096e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,7.275704e+11,8.207927e+11,8.649905e+11,7.607345e+11,6.905464e+11,6.837487e+11,7.416899e+11,7.945430e+11,7.844457e+11,8.358084e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.249982e+11,1.334016e+11,1.372444e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09,9.007159e+09
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.540134e+10,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.048421e+11,3.879346e+11,3.354421e+11,4.199464e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10

In [28]:
df4

,country name,year,GDP per capita (USD),rate of inflation (%) CPI Annual Percent Change
0,United States,2012,51784.418574,2.069337
1,United States,2013,53291.127689,1.464833
2,United States,2014,55123.849787,1.622223
3,United States,2015,56762.729452,0.118627
4,United States,2016,57866.744934,1.261583
...,...,...,...,...
95,Israel,2017,40774.129607,0.244953
96,Israel,2018,42063.453127,0.817324
97,Israel,2019,43951.247731,0.844129
98,Israel,2020,44177.571225,-0.588430
99,Israel,2021,51430.079681,1.492288

In [29]:
df5

     Country name  year  happiness score  Healthy life expectancy at birth
0   United States  2012           7.0820                         66.660004
1   United States  2013           7.1005                         66.639999
2   United States  2014           7.1190                         66.620003
3   United States  2015           7.1040                         66.599998
4   United States  2016           6.9930                         66.474998
..            ...   ...              ...                               ...
95         Israel  2017           7.1900                         72.099998
96         Israel  2018           7.1387                         72.250000
97         Israel  2019           7.1290                         72.400002
98         Israel  2020           7.1570                         72.550003
99         Israel  2021           7.3638                         72.699997

[100 rows x 4 columns]

In [30]:
df5.rename(columns = {'Country name':'country name'}, inplace = True)
df6 = pd.merge(df4,df5,on=('country name','year'))
df6

,country name,year,GDP per capita (USD),rate of inflation (%) CPI Annual Percent Change,happiness score,Healthy life expectancy at birth
0,United States,2012,51784.418574,2.069337,7.0820,66.660004
1,United States,2013,53291.127689,1.464833,7.1005,66.639999
2,United States,2014,55123.849787,1.622223,7.1190,66.620003
3,United States,2015,56762.729452,0.118627,7.1040,66.599998
4,United States,2016,57866.744934,1.261583,6.9930,66.474998
...,...,...,...,...,...,...
95,Israel,2017,40774.129607,0.244953,7.1900,72.099998
96,Israel,2018,42063.453127,0.817324,7.1387,72.250000
97,Israel,2019,43951.247731,0.844129,7.1290,72.400002
98,Israel,2020,44177.571225,-0.588430,7.1570,72.550003
99,Israel,2021,51430.079681,1.492288,7.3638,72.699997

In [31]:
#There is a spelling mistake in df6. Correct it here. 
df6.loc[df6['country name'] == 'United Kindom','country name'] = 'United Kingdom'

In [32]:
df1.set_index('Country name', inplace=True)

In [33]:
df1 = df1.loc[['United States','China','Russia','Germany','United Kingdom','South Korea','France','Japan',
               'United Arab Emirates','Israel']]
df1 = df1.loc[df1['year'] >= 2000]
df1

,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government
Country name,,,,,,,,,,,
United States,2006,7.181794,10.921763,0.964572,66.779999,0.911496,NaN,0.600309,0.774833,0.260511,0.558029
United States,2007,7.512688,10.930840,NaN,66.760002,0.871904,0.194548,0.633035,0.755915,0.231679,0.393245
United States,2008,7.280386,10.920015,0.952587,66.739998,0.877956,0.252166,0.668495,0.774229,0.226823,0.379221
United States,2009,7.158032,10.885554,0.911794,66.720001,0.830684,0.198149,0.665394,0.752766,0.261661,0.503047
United States,2010,7.163616,10.902573,0.926159,66.699997,0.828044,0.241413,0.689583,0.776061,0.231053,0.418276
...,...,...,...,...,...,...,...,...,...,...,...
Israel,2017,7.331036,10.574422,0.916441,72.099998,0.768076,0.142688,0.792652,0.620967,0.276443,0.389368
Israel,2018,6.927179,10.594217,0.909595,72.250000,0.724662,0.052249,0.770135,0.611806,0.282063,0.422330
Israel,2019,7.331780,10.612169,0.946011,72.400002,0.834492,0.082222,0.742868,0.597811,0.265892,0.495667
Israel,2020,7.194928,10.572567,0.959072,72.550003,0.831316,-0.054193,0.747639,0.564404,0.242826,0.388939
Israel,2021,7.577528,10.616640,0.916583,72.699997,0.819777,-0.001983,0.726004,0.558295,0.216543,0.439595

In [34]:
df2.set_index('Country', inplace=True)

In [35]:
df2 = df2.loc[['United States','China','Russia','Germany','United Kingdom','South Korea','France','Japan',
               'United Arab Emirates','Israel']]
df2

,RANK,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
Country,,,,,,,,,,,
United States,16,6.9768,7.065357,6.888243,2.213618,1.982345,1.181637,0.628134,0.574273,0.220042,0.176712
China,72,5.5853,5.650282,5.520318,1.515917,1.508446,0.958373,0.704509,0.656482,0.099291,0.142256
Russia,80,5.4586,5.525054,5.392146,1.494025,1.684705,1.095196,0.586235,0.401402,0.117228,0.079820
Germany,14,7.0341,7.121579,6.946621,2.141650,1.923738,1.087536,0.775901,0.585104,0.162551,0.357606
United Kingdom,17,6.9425,7.017687,6.867313,1.967455,1.867180,1.143100,0.749958,0.596544,0.289075,0.329187
South Korea,59,5.9351,6.020747,5.849453,1.655827,1.851089,0.885767,0.841494,0.413863,0.111005,0.176065
France,20,6.6867,6.758275,6.615125,1.894990,1.862691,1.218601,0.807645,0.567194,0.069899,0.265632
Japan,54,6.0389,6.118531,5.959269,1.487031,1.834505,1.089354,0.866070,0.536542,0.007167,0.218196
United Arab Emirates,24,6.5760,6.660160,6.491840,1.809410,1.998103,0.979572,0.632762,0.702032,0.203705,0.250441
Israel,9,7.3638,7.426288,7.301312,2.634107,1.825930,1.220996,0.817637,0.567640,0.154838,0.142614

In [36]:
df3.set_index('Country Name', inplace=True)

In [37]:
df3 = df3.loc[['United States','China','Russian Federation','Germany','United Kingdom','Korea, Rep.','France','Japan',
               'United Arab Emirates','Israel']]
df3

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Name,,,,,,,,,,,,,,,,,,,,,
United States,USA,GDP (current US$),NY.GDP.MKTP.CD,5.433000e+11,5.633000e+11,6.051000e+11,6.386000e+11,6.858000e+11,7.437000e+11,8.150000e+11,...,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13,1.869511e+13,1.947962e+13,2.052716e+13,2.137257e+13,2.089374e+13,2.299610e+13
China,CHN,GDP (current US$),NY.GDP.MKTP.CD,5.971647e+10,5.005687e+10,4.720936e+10,5.070680e+10,5.970834e+10,7.043627e+10,7.672029e+10,...,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1.123328e+13,1.231041e+13,1.389482e+13,1.427994e+13,1.468767e+13,1.773406e+13
Russian Federation,RUS,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12,1.276787e+12,1.574199e+12,1.657330e+12,1.693114e+12,1.488322e+12,1.775800e+12
Germany,DEU,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12,3.469853e+12,3.690849e+12,3.977289e+12,3.888327e+12,3.846414e+12,4.223116e+12
United Kingdom,GBR,GDP (current US$),NY.GDP.MKTP.CD,7.323397e+10,7.774197e+10,8.124756e+10,8.656196e+10,9.440756e+10,1.018248e+11,1.085728e+11,...,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12,2.722852e+12,2.699017e+12,2.900791e+12,2.878674e+12,2.756900e+12,3.186860e+12
"Korea, Rep.",KOR,GDP (current US$),NY.GDP.MKTP.CD,3.958191e+09,2.417558e+09,2.814319e+09,3.988785e+09,3.458939e+09,3.120833e+09,3.928908e+09,...,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12,1.500112e+12,1.623901e+12,1.724846e+12,1.651423e+12,1.637896e+12,1.798534e+12
France,FRA,GDP (current US$),NY.GDP.MKTP.CD,6.222548e+10,6.746164e+10,7.560753e+10,8.475920e+10,9.400785e+10,1.015372e+11,1.100459e+11,...,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12,2.472964e+12,2.595151e+12,2.790957e+12,2.728870e+12,2.630318e+12,2.937473e+12
Japan,JPN,GDP (current US$),NY.GDP.MKTP.CD,4.430734e+10,5.350862e+10,6.072302e+10,6.949813e+10,8.174901e+10,9.095028e+10,1.056281e+11,...,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12,5.003678e+12,4.930837e+12,5.037835e+12,5.123318e+12,5.040108e+12,4.937422e+12
United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.745907e+11,3.901075e+11,4.031372e+11,3.581349e+11,3.570452e+11,3.856055e+11,4.222150e+11,4.172156e+11,3.588688e+11,NaN
Israel,ISR,GDP (current US$),NY.GDP.MKTP.CD,2.598500e+09,3.138500e+09,2.510000e+09,2.992333e+09,3.405333e+09,3.663333e+09,3.980000e+09,...,2.584171e+11,2.941674e+11,3.109449e+11,3.000783e+11,3.190244e+11,3.552772e+11,3.736412e+11,3.979346e+11,4.071007e+11,4.815913e+11

In [38]:
df3.drop(['Country Code','Indicator Name','Indicator Code'],axis=1,inplace=True)
df3

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Name,,,,,,,,,,,,,,,,,,,,,
United States,5.433000e+11,5.633000e+11,6.051000e+11,6.386000e+11,6.858000e+11,7.437000e+11,8.150000e+11,8.617000e+11,9.425000e+11,1.019900e+12,...,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13,1.869511e+13,1.947962e+13,2.052716e+13,2.137257e+13,2.089374e+13,2.299610e+13
China,5.971647e+10,5.005687e+10,4.720936e+10,5.070680e+10,5.970834e+10,7.043627e+10,7.672029e+10,7.288163e+10,7.084654e+10,7.970591e+10,...,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1.123328e+13,1.231041e+13,1.389482e+13,1.427994e+13,1.468767e+13,1.773406e+13
Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12,1.276787e+12,1.574199e+12,1.657330e+12,1.693114e+12,1.488322e+12,1.775800e+12
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12,3.469853e+12,3.690849e+12,3.977289e+12,3.888327e+12,3.846414e+12,4.223116e+12
United Kingdom,7.323397e+10,7.774197e+10,8.124756e+10,8.656196e+10,9.440756e+10,1.018248e+11,1.085728e+11,1.131169e+11,1.077599e+11,1.164647e+11,...,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12,2.722852e+12,2.699017e+12,2.900791e+12,2.878674e+12,2.756900e+12,3.186860e+12
"Korea, Rep.",3.958191e+09,2.417558e+09,2.814319e+09,3.988785e+09,3.458939e+09,3.120833e+09,3.928908e+09,4.855907e+09,6.119284e+09,7.678581e+09,...,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12,1.500112e+12,1.623901e+12,1.724846e+12,1.651423e+12,1.637896e+12,1.798534e+12
France,6.222548e+10,6.746164e+10,7.560753e+10,8.475920e+10,9.400785e+10,1.015372e+11,1.100459e+11,1.189730e+11,1.297854e+11,1.419031e+11,...,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12,2.472964e+12,2.595151e+12,2.790957e+12,2.728870e+12,2.630318e+12,2.937473e+12
Japan,4.430734e+10,5.350862e+10,6.072302e+10,6.949813e+10,8.174901e+10,9.095028e+10,1.056281e+11,1.237819e+11,1.466011e+11,1.722042e+11,...,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12,5.003678e+12,4.930837e+12,5.037835e+12,5.123318e+12,5.040108e+12,4.937422e+12
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.745907e+11,3.901075e+11,4.031372e+11,3.581349e+11,3.570452e+11,3.856055e+11,4.222150e+11,4.172156e+11,3.588688e+11,NaN
Israel,2.598500e+09,3.138500e+09,2.510000e+09,2.992333e+09,3.405333e+09,3.663333e+09,3.980000e+09,4.030000e+09,4.619000e+09,5.329333e+09,...,2.584171e+11,2.941674e+11,3.109449e+11,3.000783e+11,3.190244e+11,3.552772e+11,3.736412e+11,3.979346e+11,4.071007e+11,4.815913e+11

In [39]:
df3.columns = df3.columns.map(int)
df3.columns.values

array([1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [40]:
df3 = df3.loc[:,[column >= 2000 for column in df3.columns]]
df3 = df3.reset_index()
df3

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,United States,1.025095e+13,1.058193e+13,1.092911e+13,1.145644e+13,1.221719e+13,1.303920e+13,1.381559e+13,1.447423e+13,1.476986e+13,...,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13,1.869511e+13,1.947962e+13,2.052716e+13,2.137257e+13,2.089374e+13,2.299610e+13
1,China,1.211347e+12,1.339396e+12,1.470550e+12,1.660288e+12,1.955347e+12,2.285966e+12,2.752132e+12,3.550343e+12,4.594307e+12,...,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1.123328e+13,1.231041e+13,1.389482e+13,1.427994e+13,1.468767e+13,1.773406e+13
2,Russian Federation,2.597101e+11,3.066021e+11,3.454705e+11,4.303478e+11,5.910167e+11,7.640171e+11,9.899305e+11,1.299706e+12,1.660846e+12,...,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12,1.276787e+12,1.574199e+12,1.657330e+12,1.693114e+12,1.488322e+12,1.775800e+12
3,Germany,1.947982e+12,1.945791e+12,2.078485e+12,2.501640e+12,2.814354e+12,2.846864e+12,2.994704e+12,3.425578e+12,3.745264e+12,...,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12,3.469853e+12,3.690849e+12,3.977289e+12,3.888327e+12,3.846414e+12,4.223116e+12
4,United Kingdom,1.662127e+12,1.643908e+12,1.784077e+12,2.057094e+12,2.421814e+12,2.544829e+12,2.717060e+12,3.106182e+12,2.938882e+12,...,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12,2.722852e+12,2.699017e+12,2.900791e+12,2.878674e+12,2.756900e+12,3.186860e+12
5,"Korea, Rep.",5.761781e+11,5.476582e+11,6.272461e+11,7.027173e+11,7.931750e+11,9.349011e+11,1.053217e+12,1.172614e+12,1.047339e+12,...,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12,1.500112e+12,1.623901e+12,1.724846e+12,1.651423e+12,1.637896e+12,1.798534e+12
6,France,1.365640e+12,1.377657e+12,1.501409e+12,1.844545e+12,2.119633e+12,2.196945e+12,2.320536e+12,2.660591e+12,2.930304e+12,...,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12,2.472964e+12,2.595151e+12,2.790957e+12,2.728870e+12,2.630318e+12,2.937473e+12
7,Japan,4.968359e+12,4.374712e+12,4.182846e+12,4.519562e+12,4.893116e+12,4.831467e+12,4.601663e+12,4.579751e+12,5.106679e+12,...,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12,5.003678e+12,4.930837e+12,5.037835e+12,5.123318e+12,5.040108e+12,4.937422e+12
8,United Arab Emirates,1.043374e+11,1.033116e+11,1.098162e+11,1.243464e+11,1.478244e+11,1.806175e+11,2.221165e+11,2.579161e+11,3.154746e+11,...,3.745907e+11,3.901075e+11,4.031372e+11,3.581349e+11,3.570452e+11,3.856055e+11,4.222150e+11,4.172156e+11,3.588688e+11,NaN
9,Israel,1.324557e+11,1.308163e+11,1.211485e+11,1.270466e+11,1.355713e+11,1.426571e+11,1.541455e+11,1.791618e+11,2.167115e+11,...,2.584171e+11,2.941674e+11,3.109449e+11,3.000783e+11,3.190244e+11,3.552772e+11,3.736412e+11,3.979346e+11,4.071007e+11,4.815913e+11

In [41]:
df3_new = pd.melt(df3, id_vars=['Country Name'], value_vars=[2012,2013,2014,2015,2016,2017,2018,2019,2020,2021],
                 var_name='time',value_name='GDP')
df3_new

            Country Name  time           GDP
0          United States  2012  1.625397e+13
1                  China  2012  8.532230e+12
2     Russian Federation  2012  2.208296e+12
3                Germany  2012  3.527143e+12
4         United Kingdom  2012  2.719158e+12
..                   ...   ...           ...
95           Korea, Rep.  2021  1.798534e+12
96                France  2021  2.937473e+12
97                 Japan  2021  4.937422e+12
98  United Arab Emirates  2021           NaN
99                Israel  2021  4.815913e+11

[100 rows x 3 columns]

In [42]:
df3 = df3_new
df3.rename(columns = {'Country Name':'country name'}, inplace = True)
df3.rename(columns = {'time':'year'}, inplace = True)
df3

            country name  year           GDP
0          United States  2012  1.625397e+13
1                  China  2012  8.532230e+12
2     Russian Federation  2012  2.208296e+12
3                Germany  2012  3.527143e+12
4         United Kingdom  2012  2.719158e+12
..                   ...   ...           ...
95           Korea, Rep.  2021  1.798534e+12
96                France  2021  2.937473e+12
97                 Japan  2021  4.937422e+12
98  United Arab Emirates  2021           NaN
99                Israel  2021  4.815913e+11

[100 rows x 3 columns]

In [43]:
df6

,country name,year,GDP per capita (USD),rate of inflation (%) CPI Annual Percent Change,happiness score,Healthy life expectancy at birth
0,United States,2012,51784.418574,2.069337,7.0820,66.660004
1,United States,2013,53291.127689,1.464833,7.1005,66.639999
2,United States,2014,55123.849787,1.622223,7.1190,66.620003
3,United States,2015,56762.729452,0.118627,7.1040,66.599998
4,United States,2016,57866.744934,1.261583,6.9930,66.474998
...,...,...,...,...,...,...
95,Israel,2017,40774.129607,0.244953,7.1900,72.099998
96,Israel,2018,42063.453127,0.817324,7.1387,72.250000
97,Israel,2019,43951.247731,0.844129,7.1290,72.400002
98,Israel,2020,44177.571225,-0.588430,7.1570,72.550003
99,Israel,2021,51430.079681,1.492288,7.3638,72.699997

In [44]:
merge3_6 = pd.merge(df3,df6,how='right',on=['country name','year'])
merge3_6

/Users/nedim/Library/Python/3.8/lib/python/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

,country name,year,GDP,GDP per capita (USD),rate of inflation (%) CPI Annual Percent Change,happiness score,Healthy life expectancy at birth
0,United States,2012.0,1.625397e+13,51784.418574,2.069337,7.0820,66.660004
1,United States,2013.0,1.684319e+13,53291.127689,1.464833,7.1005,66.639999
2,United States,2014.0,1.755068e+13,55123.849787,1.622223,7.1190,66.620003
3,United States,2015.0,1.820602e+13,56762.729452,0.118627,7.1040,66.599998
4,United States,2016.0,1.869511e+13,57866.744934,1.261583,6.9930,66.474998
...,...,...,...,...,...,...,...
95,Israel,2017.0,3.552772e+11,40774.129607,0.244953,7.1900,72.099998
96,Israel,2018.0,3.736412e+11,42063.453127,0.817324,7.1387,72.250000
97,Israel,2019.0,3.979346e+11,43951.247731,0.844129,7.1290,72.400002
98,Israel,2020.0,4.071007e+11,44177.571225,-0.588430,7.1570,72.550003
99,Israel,2021.0,4.815913e+11,51430.079681,1.492288,7.3638,72.699997

In [45]:
df1 = df1.reset_index()
df1.rename(columns = {'Country name':'country name'}, inplace = True)
merge3_6_1 = pd.merge(merge3_6,df1,how='left',on=['country name','year'])
merge3_6_1

,country name,year,GDP,GDP per capita (USD),rate of inflation (%) CPI Annual Percent Change,happiness score,Healthy life expectancy at birth_x,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth_y,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government
0,United States,2012.0,1.625397e+13,51784.418574,2.069337,7.0820,66.660004,7.026227,10.925604,0.903192,66.660004,0.822662,0.212178,0.710034,0.764520,0.259644,0.348856
1,United States,2013.0,1.684319e+13,53291.127689,1.464833,7.1005,66.639999,7.249285,10.936929,0.925397,66.639999,0.792256,0.271388,0.746894,0.776116,0.260328,0.288648
2,United States,2014.0,1.755068e+13,55123.849787,1.622223,7.1190,66.620003,7.151114,10.954541,0.902097,66.620003,0.866077,0.218749,0.702267,0.785791,0.281265,0.348671
3,United States,2015.0,1.820602e+13,56762.729452,0.118627,7.1040,66.599998,6.863947,10.977470,0.903571,66.599998,0.848753,0.216716,0.697543,0.768671,0.274688,0.346936
4,United States,2016.0,1.869511e+13,57866.744934,1.261583,6.9930,66.474998,6.803600,10.987193,0.896751,66.474998,0.757893,0.141200,0.738920,0.736574,0.264204,0.297206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Israel,2017.0,3.552772e+11,40774.129607,0.244953,7.1900,72.099998,7.331036,10.574422,0.916441,72.099998,0.768076,0.142688,0.792652,0.620967,0.276443,0.389368
96,Israel,2018.0,3.736412e+11,42063.453127,0.817324,7.1387,72.250000,6.927179,10.594217,0.909595,72.250000,0.724662,0.052249,0.770135,0.611806,0.282063,0.422330
97,Israel,2019.0,3.979346e+11,43951.247731,0.844129,7.1290,72.400002,7.331780,10.612169,0.946011,72.400002,0.834492,0.082222,0.742868,0.597811,0.265892,0.495667
98,Israel,2020.0,4.071007e+11,44177.571225,-0.588430,7.1570,72.550003,7.194928,10.572567,0.959072,72.550003,0.831316,-0.054193,0.747639,0.564404,0.242826,0.388939
99,Israel,2021.0,4.815913e+11,51430.079681,1.492288,7.3638,72.699997,7.577528,10.616640,0.916583,72.699997,0.819777,-0.001983,0.726004,0.558295,0.216543,0.439595

In [46]:
#This is the merged dataframe for df1,df3,df4,and df5. NOT YET MERGED WITH df2
df1_3_4_5 = merge3_6_1
merge3_6_1.dropna()
#do groupby if you want to merge with df2.
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np


# Nedim and Ahmed:
# Working on validating that we furfill our regression model assumptions...let us know if this is the right approach
# link: https://www.jmp.com/en_us/statistics-knowledge-portal/what-is-regression/simple-linear-regression-assumptions.html

# the plots below are to see where we have linear relationships 

countries = ['United States','China','Russia','Germany','United Kingdom','South Korea','France','Japan',
               'United Arab Emirates','Israel']

# Not sure why United Kingdom is an empty dataframe
# Need to fix this >:(

#Note by Bill: United Kingdom was misspelled as Kindom in the xlsx files where df4 and df5 are from. 
#Just added one line to fix it. Now it should be good.
UK = merge3_6_1.loc[merge3_6_1['country name'] == 'United Kingdom']
# print(UK)

# for i in countries:
#     country = merge3_6_1.loc[merge3_6_1['country name'] == i]
#     plt.scatter(country['GDP per capita (USD)'], country['happiness score'], )
#     plt.title(i + ': happiness score vs. GDP per capita (USD)')
#     plt.xlabel('GDP per capita (USD)')
#     plt.ylabel('happiness score')
#     #plt.show()

# for i in countries:
#     country = merge3_6_1.loc[merge3_6_1['country name'] == i]
#     plt.scatter(country['GDP per capita (USD)'], country['Generosity'], )
#     plt.title(i + ': Generosity vs. GDP per capita (USD)')
#     plt.xlabel('GDP per capita (USD)')
#     plt.ylabel('Generosity')
#     #plt.show()

# for i in countries:
#     country = merge3_6_1.loc[merge3_6_1['country name'] == i]
#     plt.scatter(country['GDP per capita (USD)'], country['Freedom to make life choices'], )
#     plt.title(i + ': Freedom to make life choices vs. GDP per capita (USD)')
#     plt.xlabel('GDP per capita (USD)')
#     plt.ylabel('Freedom to make life choices')
#     #plt.show()